{{extend 'layout.html'}}

<h3 class="wow fadeInLeft">{{=T("Gestionar Cuestionario")}} </h3>

<hr />

{{if diagnostico:}}
    <div class="col-md-7">
        {{=grid}}
    </div>
    <div class="col-md-5">
        <section class="wow fadeInUp">
            {{def activo(flag):
                if flag:
                    return CAT(A(XML('<ico class="glyphicon glyphicon-ok"></ico>'), T("Activo")), _class="success")
                else:
                    return CAT(A(XML('<ico class="glyphicon glyphicon-remove"></ico>'), T("Activo")))
                pass
            }}
            <!--Card-->
            <div class="card" style="padding: 10px;">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <!--Title-->
                            <h3 class="card-title">{{=diagnostico.titulo}}</h3>
                            <!--Text-->
                            <p class="card-text">{{=diagnostico.descripcion}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{=H6(CAT(T("Cuestionario diagnóstico:"), ' ', A(tipo_diagnostico[diagnostico.tipo])))}}
                        </div>
                        <div class="col-md-6">
                            {{=H6(CAT(activo(diagnostico.activo)))}}
                        </div>
                    </div>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block text-xs-center">
                    {{for seccion in diagnostico.secciones:}}
                        {{=LOAD('especialista', 'get_pregunta.load', args=[diagnostico.id, seccion.tipo_pregunta, seccion.puntos])}}
                    {{pass}}

                    <div class="row">
                        <div class="col-md-12">
                            <hr />
                        </div>
                    </div>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

            <div class="row">
                <div class="col-md-12">
                    <hr />
                </div>
            </div>
        </section>
    </div>
{{else:}}
    {{=grid}}
{{pass}}
