/* YOUR CUSTOM STYLES */

html,
body,
.view {
    height: 100%;
}

body {
    padding-top: 100px;
    overflow-x: hidden!important;
}

.app {
    min-height: 800px;
}

.view {
    background: url("../img/homepage_background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hm-black-strong .full-bg-img, .hm-black-strong .mask {
     background-color: rgba(227, 8, 19, 0.80);
}

.btn-default {
    color: #fff;
    background: rgba(227, 8, 19, 0.80);
}

.navbar-inverse {
    background-color: rgba(227, 8, 19, 0.90);
}

a {
    color: rgba(227, 8, 19, 0.80);
}

a:hover {
    color: rgba(227, 8, 19, 0.99);
}

.navbar-brand-name {
    color: white;
}

.dropdown-menu li>a, .dropdown-menu li>span {
    font-size: 1.2rem;
    color: rgba(227, 8, 19, 0.80);
    display: block;
    padding: 1rem;
}

@media (min-width: 767px)
.navbar-fixed-top {
    padding: 0px!important;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}
